@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: "Verdana", cursive, sans-serif;

}

body {
    /*background-color: #7cc6fe;*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    @apply bg-sky-100 p-4;
}

.app {
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    @apply bg-[#252d4a] rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-lg sm:w-full sm:p-6 text-white;
}

.playballFont {
    font-family: 'Charm', cursive;
}

.score-section {
    font-size: 24px;
    align-items: center;
    @apply space-y-4;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
    width: 100%;
    position: relative;
}

.question-count {
    margin-bottom: 20px;
}

.question-count span {
    font-size: 28px;
}

.question-text {
    margin-bottom: 12px;
}

.timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
    @apply my-1;
}

.correct {
    background-color: #2f922f;
}

.incorrect {
    background-color: #ff3333;
}

button:hover {
    background-color: #555e7d;
}

button:focus {
    outline: none;
}

button svg {
    margin-right: 5px;
}


/*login*/
input[type="text"],
input[type="password"] {
    height: 28px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: black;
    padding: 8px;
}

input[type="submit"] {
    @apply cursor-pointer bg-indigo-50 text-[#252d4a] outline-2 outline px-3 py-1 rounded-md hover:bg-[#252d4a] hover:text-white transition-colors duration-300 ease-in-out outline-blue-500 mt-2;
}


.button-container {
    display: flex;
    justify-content: center;
}


.list-container {
    display: flex;
}

.error {
    color: red;
    font-size: 12px;
}

.title {
    font-size: 25px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}
